// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Star Icon
hr.star{
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.15rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star:after{
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f1cb';
  font-family: FontAwesome;
  font-size: 1.3em;
}

.bg-dark-ch hr.star {
  //color: $txt-on-bg-dark;
}
.bg-dark-ch hr.star:after {
  background-color: $background-dark;
}
.bg-light-ch hr.star:after {
  background-color: $background-light;
}

// Section Padding Settings
section {
  padding: 3rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    padding: 3rem 0;
    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}


.bg-dark-ch {
  background-color: $background-dark;
  color: $txt-on-bg-dark;
}
.bg-dark-ch-variant {
  background-color: $background-dark-variant;
  color: $txt-on-bg-dark-variant;
}
.bg-light-ch {background-color: $background-light;}


strong {
  font-weight: 500;
}