header.masthead {
  padding-top: 6rem;
  padding-bottom: 4rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 7rem;
    padding-bottom: 4rem;
    h1 {
      font-size: 3.5em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.4em;
    }

  }
}
