// Styling for the portfolio section
.portfolio {
  margin-bottom: -15px;
  .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    width: 85%;
    display: block!important;
    border: 1px solid $txt-on-bg-dark;
    .img_wrapper{
      height: 200px;
      .portfolio-img {
        max-width: 90%;
        max-height: 150px;
      }
    }
    .portfolio-item-caption {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background-color: fade-out($background-dark-variant, .1);
      color: $txt-on-bg-dark-variant;
      border-radius: 3px;
      &:hover {
        opacity: 1;
      }
      .portfolio-item-caption-content {
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 576px) {
    margin-bottom: -30px;
    .portfolio-item {
      margin-bottom: 30px;
    }
  }
}

