.service_item {
  border-bottom: 1px solid $text-color;
  @media (min-width: 1200px) { min-height: 470px;}
  @media (min-width: 1200px) {
    &.left_border {
      border-left: 1px solid $text-color;
    }
  }
}



.services_img {
  width: 50%;
  @media (min-width: 576px) { width: 50%; }
  @media (min-width: 768px) { width: 100%; }
  @media (min-width: 992px) { width: 80%; }
  @media (min-width: 1200px) { width: 100%; }
  margin-bottom: 2rem;
  border: 1px solid $text-color;
  border-radius: 4px;
  padding: 1.5em;
  background: $text-on-primary;
}

.flip {
  transform: scaleX(-1);
}


