#services_content {
  .service_item{
    border-radius: 3px;
    border: 1px solid $text-color;
    .service_item_content{
      padding: 5px;
      min-height: 180px;
    }
  }
}

.services_img {
  width: 100%;
}

.flip {
  transform: scaleX(-1);
}