// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;



$primary: #182142 !default;
$secondary: #DC2430 !default;

$background-light: #E9E4E1 !default;
$background-dark: #CFC0BD!default;
$background-dark-variant: #303D3B!default;

$txt-on-bg-light: #303D3B!default;
$txt-on-bg-dark: #303D3B!default;
$txt-on-bg-dark-variant: #E9E4E1!default;
