body {
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Roboto';
}

hr.star {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.15rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f1cb';
  font-family: FontAwesome;
  font-size: 1.3em;
}

.bg-dark-ch hr.star:after {
  background-color: #CFC0BD;
}

.bg-light-ch hr.star:after {
  background-color: #E9E4E1;
}

section {
  padding: 3rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section {
    padding: 3rem 0;
  }
  section h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.bg-dark-ch {
  background-color: #CFC0BD;
  color: #303D3B;
}

.bg-dark-ch-variant {
  background-color: #303D3B;
  color: #E9E4E1;
}

.bg-light-ch {
  background-color: #E9E4E1;
}

strong {
  font-weight: 500;
}

.btn:hover, #section a:hover {
  box-shadow: 0 0 20px #252525;
  text-shadow: 0 0 20px #252525;
}

.light-glow {
  box-shadow: 0px 0px 14px 6px #ffffff82;
  background-color: #ffffff82;
}

.dark-outline-glow {
  box-shadow: 0px 0px 5px  #000;
}

.dark-text-glow {
  text-shadow: 0px 0px 5px  #000;
}

section {
  border-top: 1px solid grey;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: 'Roboto';
}

#mainNav .navbar-brand {
  color: #E9E4E1;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #E9E4E1;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #CFC0BD;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  text-decoration: underline;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.7em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Roboto';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  header.masthead h1 {
    font-size: 3.5em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.4em;
  }
}

#code-house-logo {
  width: 20rem;
}

#mission_list .mission_item {
  border-radius: 3px;
  border: 1px solid #182142;
}

#mission_list .mission_item .mission_item_content {
  padding: 5px;
  min-height: 180px;
}

.service_item {
  border-bottom: 1px solid #303D3B;
}

@media (min-width: 1200px) {
  .service_item.left_border {
    border-left: 1px solid #303D3B;
  }
}

.services_img {
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 1.5em;
}

@media (min-width: 576px) {
  .services_img {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .services_img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .services_img {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .services_img {
    width: 100%;
  }
}

.flip {
  transform: scaleX(-1);
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  width: 85%;
  display: block !important;
  border: 1px solid #303D3B;
}

.portfolio .portfolio-item .img_wrapper {
  height: 200px;
}

.portfolio .portfolio-item .img_wrapper .portfolio-img {
  max-width: 90%;
  max-height: 150px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(48, 61, 59, 0.9);
  color: #E9E4E1;
  border-radius: 3px;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #303D3B !important;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #303D3B !important;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.floating-label-form-group {
  position: relative;
}

.form-control:focus {
  background-color: transparent !important;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.copyright {
  background-color: #1a201f;
}

a {
  color: #182142;
}

a:focus, a:hover, a:active {
  color: #0a0e1d;
}

.btn {
  border-width: 1px;
}

.bg-primary {
  background-color: #182142 !important;
}

.bg-secondary {
  background-color: #DC2430 !important;
}

.text-primary {
  color: #182142 !important;
}

.text-secondary {
  color: #DC2430 !important;
}

.bg-dark-ch .btn-outline-primary {
  color: #303D3B !important;
  border-color: #303D3B !important;
}

.bg-dark-ch .btn-outline-primary:hover, .bg-dark-ch .btn-outline-primary:focus, .bg-dark-ch .btn-outline-primary:active {
  color: #CFC0BD !important;
  background-color: #303D3B !important;
}

.bg-light-ch .btn-outline-primary {
  color: #303D3B !important;
  border-color: #303D3B !important;
}

.bg-light-ch .btn-outline-primary:hover, .bg-light-ch .btn-outline-primary:focus, .bg-light-ch .btn-outline-primary:active {
  color: #E9E4E1 !important;
  background-color: #303D3B !important;
}

b {
  font-weight: 500;
}
